<footer class="mt-12 pt-6 border-t border-gray-200 text-center text-sm text-gray-500">
  &copy; {{ site.time | date: '%Y' }} Mon Plan Auto. Tous droits réservés. <a href="mailto:contact@monplanauto.org?subject=Bonjour!">contact@monplanauto.org </a>
  <div class="mt-4">


<!-- START - We recommend to place the below code in footer or bottom of your website html  -->
<script>
  window.REQUIRED_CODE_ERROR_MESSAGE = 'Veuillez choisir un code pays';
  window.LOCALE = 'fr';
  window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "Les informations que vous avez fournies ne sont pas valides. Veuillez vérifier le format du champ et réessayer.";

  window.REQUIRED_ERROR_MESSAGE = "Vous devez renseigner ce champ. ";

  window.GENERIC_INVALID_MESSAGE = "Les informations que vous avez fournies ne sont pas valides. Veuillez vérifier le format du champ et réessayer.";




  window.translation = {
    common: {
      selectedList: '{quantity} liste sélectionnée',
      selectedLists: '{quantity} listes sélectionnées',
      selectedOption: '{quantity} sélectionné',
      selectedOptions: '{quantity} sélectionnés',
    }
  };

  var AUTOHIDE = Boolean(1);
</script>

<script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

<!-- END - We recommend to place the above code in footer or bottom of your website html  -->

  </div>
</footer>

