<footer class="mt-12 pt-6 border-t border-gray-200 text-center text-sm text-gray-500">
  &copy; {{ site.time | date: '%Y' }} My Car Plan. All rights reserved. <a href="mailto:contact@monplanauto.org?subject=Hello!">contact@mycarplan.org </a>
  <div class="mt-4">


<!-- START - We recommend to place the below code in footer or bottom of your website html  -->
<script>
  window.REQUIRED_CODE_ERROR_MESSAGE = 'Please choose a country code';
  window.LOCALE = 'en';
  window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "The information you provided is not valid. Please check the field format and try again.";

  window.REQUIRED_ERROR_MESSAGE = "You must fill-in this field. ";

  window.GENERIC_INVALID_MESSAGE = "The information you provided is not valid. Please check the field format and try again.";



  window.translation = {
    common: {
      selectedList: '{quantity} selected list',
      selectedLists: '{quantity} selected lists',
      selectedOption: '{quantity} selected',
      selectedOptions: '{quantity} selected',
    }
  };

  var AUTOHIDE = Boolean(1);
</script>

<script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

<!-- END - We recommend to place the above code in footer or bottom of your website html  -->

  </div>
</footer>
